* {
    padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
p {
	text-indent: 2em;
}
h1 {
	font-weight: 400;
}
body {
	width: 100%;
	font: 12px/1.7 "Times New Roman", SimSun, sens-serif;
	background: #EEE9E9;
}
/*  INDEX.HTML
-------------------------------------------------- */
.top {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background: #CC0033; 
}
.top .main {
	position: relative;
	height: inherit;
}
.main {
	width: 980px;
	margin: 0 auto;
	clear: both;
}

.my-logo {
	position: absolute;
	left: 0;
	bottom: 15px;
	color: #FFF;
	background: transform;
	font-family: Arial;
}
.header-nav {
	position: absolute;
	right: 0;
	bottom: 10px;	
}
.nav-ul {
	clear: both;
	margin-right: -28px;
}
.nav-li {
	float: left;
	margin-right: 28px;
}
.nav-li a {
	color: #FFF;
	font: 14px/1.5 SimSun, sens-serif;
}
.git-icon {
	position: absolute;
	right: 10px;
	bottom: 0;
}
.git-icon img {
	vertical-align: bottom;
}
.banner {
	width: 100%;
	height: 525px;
}
.banner-img {
	width: 100%;
	height: 525px;
}
.banner .main {
	position: relative;
}
.header-section {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 360px;
	height: 120px;
    padding: 10px 10px 30px 10px;
	color: #FFF;
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background:	-o-linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
}
.header-section h1 {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 15px;
	float: right;
}

.header-section p {
	font-size: 12px;
	line-height: 1.5;
	clear: both;
}
.index-articles {
	margin-top: 10px;
	margin-right: -10px;
	overflow: hidden;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.index-article {
	float: left;
	background: #FFF;
	width: 320px;
	margin-right: 10px;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
}
.index-article img {
	margin: 10px;
	width: 300px;
	height: 180px;
}
.index-article p {
	font-size: 12px;
	line-height: 1.7;
	margin: 15px 20px 25px 20px;
}
.self-intro {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 520px;
	margin-top: 110px;
	background: #FFF;
	text-align: center;
}
.self-icon {
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -80px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
}
.say-hi {
	font-size: 20px;
	font-family: "Century Gothic", sens-serif;
	padding-top: 160px;
	margin-bottom: 40px;
}
.self-intro p {
	width: 600px;
	margin: 0 auto auto auto;
	font-size: 14px;
	line-height: 1.8;
	text-align: left;
}
footer {
	position: relative;
	width: 100%;
	height: 395px;
	background: #000;
	color: #FFF;
	font-size: 12px;
}
.footer-nav {
	height: 35px;
	width: 180px;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}
.footer-nav ul {
	margin-right: -10px;
}
.footer-nav li {
	float: left;
	margin-right: 20px;
}
.footer-nav a {
	color: #FFF;
	font-size: 12px;
}
footer .main {
	margin-top: 40px;
}
.list-container {
	margin-left: -130px;
}
.link-list {
	display: inline-block;
	float: left;
	width: 70px;
	margin-left: 130px;
}
.link-list li {
	margin-bottom: 5px;
}
.link-list .list-head {
	margin-bottom: 30px;
	color: #DEDEDE;
}
.link-list a {
	color: #FFF;
}
.link-list a:hover {
	text-decoration: underline;
}
.copyright {
	display: block;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -24px;
}
.footer-icon {
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 30px;
	height: 34px;
	margin-left: -15px;
}

/* BLOG.HTML
--------------------------------------------------- */
.blog-main {
	position: relative;
	top: 0;
	left: 0;
	margin-top: 20px;
}
.blog-main:after {
	content:"";
	display: block;
	height: 330px;
	visibility: hidden;
}
.main-content {
	float: left;
	width: 710px;
	margin-right: 10px;
}
.blogs {
	position: relative;
	height: 330px;
	background: #FFF;
	padding: 20px;
	margin-bottom: 10px;
}
.blogs h1 {
	font-size: 16px;
	font-weight: 700;
	color: #FF6347;
	margin-bottom: 10px;
}
.blogs h2 {
	font-size: 12px;
	color: #666;
	margin-bottom: 15px;
}
.imfo {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #999;
}
.imfo .author {
	margin-right: 10px;
}
.imfo time {
	margin-left: 10px;
}
.side-date, 
.side-title {
	position: absolute;
	left: -50px;
	top: 20px;
	width: 50px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #CD0000;
	color: #FFF;
	font-size: 16px;
}
.side-title {
	top: 60px;
	background: #FF6A6A;
}
.page-nav ul {
	float: left;
	margin-left: 80px;
}
.page-nav li {
	float: left;
	margin-left: 10px;
}
.page-nav li a {
	display: inline-block;
	padding: 10px 15px;
	background: #FFF;
	color: #000;
}
.page-nav li .current-page {
	background: #FF6A6A;
	color: #FFF;
	font-weight: 700;
}
.sidebar {
	float: left;
	width: 260px;
}
.search {
	background: #FFF;
	height: 40px;
	margin-bottom: 10px;
	padding: 20px;
}
.search-form {
	width: 100%;
	height: 100%;
	border: 1px solid #DCDCDC;
}
.search-form:focus {
	border: 1px solid #666;
}
.search-icon {
	float: left;
	width: 40px;
	height: 100%;
	background: url(../img/search_icon.png) no-repeat center;
	border: none;
}
.search-input,
.search-submit {
	float:left;
	height: 100%;
	border: none;
	line-height: 100%;
}
.search-input {
	width: 130px;
}
.search-submit {
	background: #DCDCDC;
	color: #FFF;
	font-size: 24px;
	font-weight: 700;
	font-family: "Courier New";
	width: 50px;
	cursor: pointer;
}
.category {
	height: 200px;
	margin-bottom: 10px;
	border-top: 1px solid #DCDCDC;
}
.category a {
	display: block;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
    height: 50px;
	border-bottom: 1px solid #DCDCDC;
	border-left: 4px solid #FFC1C1;
	background: #FFF;
	color: #666;
	padding-left: 16px;
	line-height: 50px;
}
.category a:hover,
.category .current-category {
	border-left: 4px solid #CD0000;
}
.calendar {
	height: 250px;
	margin-bottom: 10px;
	background: #FFF;
	padding: 20px;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	text-align: center;
}
#blog-calendar {
	width: 100%;
	height: 100%;
}
.calendar-head {
	width: 100%;
	color: #CD0000;
	font-weight: 700;
}
.calendar-head a {
	display: inline-block;
	color: #CD0000;
	width: 100%;
	height: 100%;
}
.calender-head a:hover {
	background: #CD0000;
	color: #FFF;
}
#blog-calendar .day-head,
#blog-calendar .day {
	border-bottom: 1px solid #DCDCDC;
	color: #666;
}
#blog-calendar .today,
#blog-calendar .day td:hover {
	background: #CD0000;
	color: #FFF;
}
#blog-calendar .day-head td,
#blog-calendar .day td {
	width: 31px;
}
#blog-calendar .has-blog {
	color: #CD0000;
	font-weight: 700;
}
.keywords,
.rank {
	height: 160px;
	background: #FFF;
	padding: 20px;
	font-family: "Courier New", sens-serif;
}
.keywords h1 {
	color: #666;
	margin-bottom: 10px;
}
.keywords .tags {
	color: #CD2626;
}
.keywords .big {
	font-size: 30px;
}
.keywords .middle {
	font-size: 18px;
}

/* ABOUT.HTML
------------------------------------------------- */
.about-main:after,
.about-main:before,
.gallery-content:after,
.gallery-content:before {
	content:"";
	display: block;
	height: 25px;
	visibility: hidden;
}
.about-main:before {
	height: 100px;
}
.about-content {
	position: relative;
	background: #FFF;
	height: 1400px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.self-pic {
	position: absolute;
	top: -70px;
	left: 50%;
	margin-left: -90px;
	width: 160px;
	height: 160px;
	border-radius: 80px;
	border: 10px solid #EEE9E9;
}
.frag-name {
	position: absolute;
	top: 110px;
	left: 0;
	height: 160px;
}
.frag-title {
	position: relative;
	float: left;
	width: 487px;
	height: 100%;
}
.frag-title span {
	position: absolute;
	right: 70px;
	top: 20px;
	font-size: 20px;
}
.frag-content {
	position: relative;
	float: left;
	width: 487px;
	height: 100%;
	border-left: 6px solid #EEE9E9;
}
.frag-content .content-inner {
	position: absolute;
	left: 30px;
	top: 20px;
	width: 310px;
	font-size: 14px;
}
.frag-address {
	position: absolute;
	top: 270px;
	height: 220px;
	width: 100%;
}
.circle-img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -56px;
	width: 100px;
	height: 100px;
	border: 6px solid #EEE9E9;
	border-radius: 50px;
}
.frag-address .frag-title,
.frag-address .frag-content,
.frag-education .frag-title,
.frag-education .frag-content,
.frag-job .frag-title,
.frag-job .frag-content {
	top: 112px;
	left: 0;
}
.frag-education {
	position: absolute;
	top: 490px;
	left: 0;
	width: 100%;
	height: 360px;
}
.experence-container {
	position: absolute;
	top: 142px;
	left: 454px;
	width: 490px;
}
.experence-item {
	margin-bottom: 30px;
}
.time {
	width: 60px;
	border: 6px solid #EEE9E9;
	border-radius: 15px;
	color: #666;
	text-align: center;
	padding: 3px 0;
	background: #FFF;
    z-index: 9999;
	float: left;
}
.experence {
	font-size: 14px;
}
.frag-job {
	position: absolute;
	top: 850px;
	left: 0;
	width: 100%;
	height: 550px;
}
/* GALLERY.HTML
----------------------------------------------------- */
.gallery-nav ul {
	margin-left: -1px;
}
.gallery-item {
	display: inline-block;
	float: left;
}
.gallery-item a {
	display: inline-block;
	padding: 15px 20px 20px 20px;
	border-top: 5px solid;
	border-left: 1px solid #DCDCDC;
	border-bottom: 1px solid;
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
	background: #FFF;
	color: #000;
}
.gallery-item .item-1 {
	border-top-color: #FFE1FF;
	border-bottom-color: #DCDCDC;
}
.active .item-1,
.item-1:hover {
	border-top-color: #FF82AB;
	border-bottom-color: #FFF;
}
.gallery-item .item-2 {
	border-top-color: #FFD39B;
	border-bottom-color: #DCDCDC;
}
.active .item-2,
.item-2:hover {
	border-top-color: #FF7F50;
	border-bottom-color: #FFF;
}
.gallery-item .item-3 {
	border-top-color: #FFEC8B;
	border-bottom-color: #DCDCDC;
}
.active .item-3,
.item-3:hover {
	border-top-color: #FFD700;
	border-bottom-color: #FFF;
}
.gallery-item .item-4 {
	border-top-color: #A4D3EE;
	border-bottom-color: #DCDCDC;
}
.active .item-4,
.item-4:hover {
	border-top-color: #3A5FCD;
	border-bottom-color: #FFF;
}
.gallery-item .item-5 {
	border-top-color: #EED2EE;
	border-bottom-color: #DCDCDC;
}
.active .item-5,
.item-5:hover {
	border-top-color: #E066FF;
	border-bottom-color: #FFF;
}		
.gallery {
	padding: 20px;
	background: #FFF;
}
.gallery-container {
	margin-left: -10px;
}
.gallery-container ul {
	float: left;
	margin-right: 10px;
}
.gallery-container .child-list {
	margin-right: -10px;
}
.gallery-container .img-box {
	float: left;
	margin-left: 10px;
}
.img-box img {
	vertical-align: middle;
}
.gallery-container .line-1 {
	width: 330px;
}
.gallery-container .line-2 {
	width: 160px;
}
.gallery-container li {
	display: block;
	float: left;
	margin-bottom: 10px;
}
.big-img {
	width: 340px;
}
.img-tag-1,
.img-tag-2,
.img-tag-3,
.img-tag-4 {
	padding: 10px;
	background: #FF3E96;
	color: #FFF;
}
.img-tag-2 {
	background: #F08080;
}
.img-tag-3 {
	background: #8DB6CD;
}
.img-tag-4 {
	background: #CDCD00;
}
.tag-title {
	display: block;
	float: left;
	font-size: 14px;
	width: 30px;
	height: 30px;
	border: 1px solid #FFF;
	border-radius: 15px;
	line-height: 30px;
	text-align: center;
}
.tag-content {
	float: left;
	margin-left: 10px;
}
.line-1 .tag-content {
	width: 268px;
}
.line-2 .tag-content {
	width: 98px;
}
.tag-content h1 {
	font-size: 14px;
}
.tag-content p {
	font-size: 12px;
	text-indent: 0;
}	
.load-more {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 50px;
	background: #FFF;
	text-align: center;
	color: #666;
}
.load-icon {
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
}
.load-more span {
	line-height: 50px;
	cursor: pointer;
}
.rank {
	height: 200px;
	padding: 20px 5px;
}
.rank h1 {
	margin: 0 0 20px 10px;
	color: #666;
}
.rank-container {
	margin: 0 10px;
}
.rank-box {
	margin-bottom: 10px;
}
.ranking {
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	background: #CC0033;
	color: #FFF;
	font-weight: 700;
	border-radius: 8px;
}
.rank-outer {
	float: left;
	height: 16px;
	width: 100px;
	margin-left: 10px;
	border: 1px solid #CC0033;
}
.rank-inner {
	background: #CC0033;
	height: 16px;
}
.rank-inner.rank-1 {
	width: 100px;
}
.rank-inner.rank-2 {
	width: 80px;
}
.rank-inner.rank-3 {
	width: 50px;
}
.rank-inner.rank-4 {
	width: 30px;
}
.rank-inner.rank-5 {
	width: 10px;
}
.rank-name {
	margin-left: 10px;
	float: left;
}
	