* {
    margin: 0;
    padding: 0;
    font: 15px/1.5 #5C5C5C Arial;
}
body {
    width: 100%;
    height: 100%;
}
h1, h2, h3 {
    font-size: 17px;
}
h1, h2 {
    margin: 10px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: transparent;
}
.title {
    color: #B5B5B5;
}
.clearfix:after {
    content: "";
    display: table;
    height: 0;
    visibility: hidden;
    clear: both;
}
.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    background: no-repeat;
    vertical-align: middle;
}
.icon.folder {
    -moz-background-image: url(../img/icon/folder.ico);
         background-image: url(../img/icon/folder.ico);
}
.icon.file {
    -moz-background-image: url(../img/icon/file2.ico);
         background-image: url(../img/icon/file2.ico);
}
.icon.ok {
    -moz-background-image: url(../img/icon/ok.ico);
         background-image: url(../img/icon/ok.ico);
}
.icon.edit {
    -moz-background-image: url(../img/icon/edit.ico);
         background-image: url(../img/icon/edit.ico);
}
.icon.add {
    -moz-background-image: url(../img/icon/add.ico);
         background-image: url(../img/icon/add.ico);
}
.outer {
    width: 100%;
    height: 100%;
}
.inner {
    margin: 10px;
}
header {
    height: 50px;
    background: #B5B5B5;
    color: #5C5C5C;
    line-height: 50px;
    padding-left: 30px;
}
header .user-icon {
    float: left;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 5px;
}
.user-icon img {
    width: 30px;
    height: 30px;
}
header .user {
    font-size: 20px;
    font-weight: 700;
}
.main {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background:  #CCC;
}
.main #task-class,
.main #task-list,
.main #task-detail{
    position: fixed;
    top: 50px;
    bottom: 0;
    background: #F2F2F2;
    color: #5C5C5C;
    font-size: 15px;
    font-weight: 600;
}
.main #task-class {
    left: 0;
    width: 220px;
}
.main #task-list {
    left: 221px;
    width: 220px;
}
.main #task-detail {
    right: 0;
    left: 442px;
}

.class-list li {
    display: inline-block;
    height: 30px;
    width: 100%;
    line-height: 30px;
    cursor: pointer;
}
.class-list > li {
    margin-top: 10px;
}
.class-list > li h3 {
    text-indent: 10px;
}
.class-list > li h3:hover,
.class-list > li.active > h3 {
    background-color: #B5B5B5;
}
.class-list ul > li h3 {
    text-indent: 30px;
}
.class-list ul > li h3:hover,
.class-list ul > li.active > h3 {
    background-color: #B5B5B5;
}
.class-list ul ul >li h3{
    text-indent: 50px;
}
.addition {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #B5B5B5;
    color: #5C5C5C;
    height: 40px;
    width: 100%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}
.head {
    height: 40px;
    width: 220px;
    background: #C9C9C9;
}
.head .active {
    background: #fff;
}
.head ul {
    padding: 10px 15px;
}
.head li {
    float: left;
    display: inline-block;
    padding: 3px 10px;
    color: #5C5C5C;
    font-size: 15px;
    cursor: pointer;
}
.head li:hover {
    background: #fff;
}
.body .all {
    display: block;
}
.body .finished,
.body .unFinished {
    display: none;
}
.body .date,
.body .item {
    height: 30px;
    line-height: 30px;
}
.body .date {
    background: #B4CDCD;
    padding-left: 20px;
}
.body .item {
    padding-left: 30px;
    cursor: pointer;
}
.body .item:hover {
    background: #fff;
}
.item.done {
    color: #00EE00;
}
.detail-head {
    height: 40px;
    background: #C9C9C9;
}
.detail-head .task-name {
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}
.detail-head .icon {
    float: right;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
}
.detail,
.new-task {
    display: none;
}
.detail .date {
    height: 40px;
    background: #FFFACD;
    line-height: 40px;
    padding-left: 20px;
}
.detail-body,
.new-task {
    padding: 20px;
}
.new-task label {
    display: inline-block;
    height: 20px;
    margin-bottom: 20px;
    line-height: 20px;
}
.new-task label input {
    height: 20px;
    line-height: 20px;
    width: 150px;
}
.new-task textarea {
    vertical-align: top;
    width: 150px;
    height: 100px;
}

