.whole-size() {
	height: 100%;
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	.whole-size;
}

body {
	.whole-size;
	color: @text-color;
	background-color: @body-bg;
	font-size: @font-size-base;
	font-family: @font-family-sans-serif;
}

h1 {
	font-size: @font-size-h1;
}

h2 {
	font-size: @font-size-h2;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4;
}

h5 {
	font-size: @font-size-h5;
}

h6 {
	font-size: @font-size-h6;
}

ul {
	list-style: none;
	line-height: @line-height-base;
}

a {
	text-decoration: none;
	color: transparent;
}

i {
	display: inline-block;
	line-height: @line-height-base;
}

a,button,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}

.clearfix() {
	display: block;

	&:after {
		display: block;
		content: '';
		height: 0;
		visibility: hidden;
		clear: both;
	}
}

.container{
	.whole-size;
}

main {
	position: fixed;
	top: @padding-large-vertical * 4 + @font-size-h1;
	bottom: 0;
	width: 100%;
	.clearfix;
}

.vertical-horizontal-middle(@pos: absolute) {
	position: @pos;
	top: 50%;
	left: 50%;
	.translate(-50%, -50%);
}

.horizontal-middle(@pos: absolute) {
	position: @pos;
	left: 50%;
	.translate(-50%, 0);
}

.btn-primary(@color: @btn-primary-color, @bg-color: @btn-primary-bg, @bd-color: @btn-primary-border) {
	color: @color;
	background-color: @bg-color;
	border: 1px solid @bd-color;
	border-radius: @border-radius-base;
	line-height: @line-height-base;
	padding: @padding-base-vertical @padding-base-horizontal;
	cursor: pointer;
}

.btn-default(@color: @btn-default-color, @bg-color: @btn-default-bg, @bd-color: @btn-default-border) {
	color: @color;
	background-color: @bg-color;
	border: 1px solid @bd-color;
	border-radius: @border-radius-base;
	line-height: @line-height-base;
	padding: @padding-base-vertical @padding-base-horizontal;
	cursor: pointer;
}

.article {
	float: left;
	position: relative;
	width: @article-width;
	height: 100%;
	border-right: 1px solid @gray-light;
}


.addition {
	position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		font-size: @font-size-large;
		line-height: @line-height-base;
		.btn-primary;

		&:hover {
			.btn-default;
		}
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	        transform: translate(@x, @y);
}