* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  color: #222222;
  background-color: #ffffff;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 41px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
ul {
  list-style: none;
  line-height: 1.42857143;
}
a {
  text-decoration: none;
  color: transparent;
}
i {
  display: inline-block;
  line-height: 1.42857143;
}
.container {
  height: 100%;
  width: 100%;
}
main {
  position: fixed;
  top: 81px;
  bottom: 0;
  width: 100%;
  display: block;
}
main:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.article {
  float: left;
  position: relative;
  width: 221px;
  height: 100%;
  border-right: 1px solid #777777;
}
.addition {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 20px;
  color: #66d9ef;
  background-color: #555555;
  border: 1px solid #494949;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
}
.addition:hover {
  color: #ffffff;
  background-color: #1292aa;
  border: 1px solid #0f7e93;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
}
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
.fa-close:before {
  content: "\f00d";
}
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-check-square-o:before {
  content: "\f046";
}
.container-header {
  width: 100%;
  padding: 10px 16px;
  background-color: #555555;
}
.container-header .caption {
  color: #66d9ef;
}
.container-header .caption::before {
  content: "\f00a";
  margin-right: 10px;
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width: 41px;
  height: 41px;
  padding: 10px;
  background-color: #555555;
  color: #66d9ef;
  line-height: 41px;
  text-align: center;
}
.container-header .back {
  display: none;
  position: absolute;
  bottom: 1px;
  left: 5px;
  line-height: 30px;
  color: #66d9ef;
  font-size: 14px;
}
.container-header .back::before {
  content: "\f053";
  margin-right: 1px;
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  width: 14px;
  height: 14px;
  padding: 1px;
  background-color: #555555;
  color: #66d9ef;
  line-height: 14px;
  text-align: center;
}
.task-class {
  /* .article; */
}
.task-class header h2 {
  padding: 6px 12px;
  font-size: 20px;
}
.task-class header .title {
  border-bottom: 1px dotted #222222;
}
.task-class .class-list {
  margin-left: -12px;
}
.task-class .class-list li {
  line-height: 1.42857143;
  cursor: pointer;
}
.task-class .class-list li .folder {
  padding-left: 56px;
}
.task-class .class-list li .file {
  padding-left: 84px;
}
.task-class .class-list li .folder,
.task-class .class-list li .file {
  font-size: 16px;
}
.task-class .class-list li .folder:hover,
.task-class .class-list li .file:hover,
.task-class .class-list li .folder.active,
.task-class .class-list li .file.active {
  background-color: #1292aa;
  color: #fff;
}
.task-class .class-list li .folder i,
.task-class .class-list li .file i {
  float: right;
  margin-right: 12px;
  line-height: 1.42857143;
  display: none;
}
.folder {
  padding-left: 28px;
}
.folder::before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f115";
  width: 28px;
  margin-left: -28px;
  vertical-align: middle;
}
.file {
  padding-left: 28px;
}
.file::before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f016";
  width: 28px;
  margin-left: -28px;
  vertical-align: middle;
}
.addition {
  padding-left: 28px;
}
.addition::before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f067";
  width: 28px;
  margin-left: -28px;
  vertical-align: middle;
}
.task-list {
  /* .article; */
}
.task-list .head {
  position: relative;
  background-color: #777777;
  display: block;
}
.task-list .head:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.task-list .head ul {
  float: left;
  display: block;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: #777777;
  padding: 3px 5px;
}
.task-list .head ul:after {
  display: block;
  content: '';
  height: 0;
  visibility: hidden;
  clear: both;
}
.task-list .head ul li {
  float: left;
  width: 70px;
  font-size: 20px;
  line-height: 1.42857143;
  padding: 1px 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.task-list .head ul li:hover,
.task-list .head ul li.active {
  background-color: #eeeeee;
  color: #222222;
}
.task-list section .all {
  display: block;
}
.task-list section .unFinish,
.task-list section .finish {
  display: none;
}
.task-list section .dateItem .date,
.task-list section .dateItem .item {
  line-height: 1.42857143;
}
.task-list section .dateItem .date {
  background-color: #66d9ef;
  text-align: center;
  color: #fff;
}
.task-list section .dateItem .item {
  padding-left: 28px;
  cursor: pointer;
}
.task-list section .dateItem .item:hover {
  background-color: #fff;
  color: #1292aa;
}
.task-list section .dateItem .item.done {
  color: #5a7f12;
}
.done {
  padding-left: 28px;
}
.done::before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  content: "\f00c";
  width: 28px;
  margin-left: -28px;
  vertical-align: middle;
}
.task-detail {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.task-detail header .detail-head {
  position: absolute;
  top: 0;
  right: 0;
}
.task-detail header .detail-head i {
  font-size: 28px;
  margin-right: 16px;
  margin-top: 2px;
  cursor: pointer;
  color: #222222;
}
.task-detail header .detail-head i:hover {
  color: #1292aa;
}
.task-detail header h2 {
  font-size: 20px;
  padding: 6px 12px;
  border-bottom: 1px dotted #222222;
}
.task-detail header h2 input {
  line-height: 1.42857143;
  font-size: 16px;
  border: 1px solid #777777;
}
.task-detail header .task-name {
  color: #1292aa;
}
.task-detail .detail {
  position: absolute;
  bottom: 34px;
  top: 70px;
  width: 100%;
}
.task-detail .detail .detail-body {
  height: 100%;
  width: 100%;
  padding: 12px;
  line-height: 1.42857143;
  white-space: pre;
  word-wrap: break-word;
}
.task-detail .detail .detail-body .input-detail {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.42857143;
  word-wrap: break-word;
}
.task-detail .edit-submit {
  position: absolute;
  bottom: 10px;
  right: 16px;
}
.task-detail .edit-submit .save {
  color: #ffffff;
  background-color: #1292aa;
  border: 1px solid #0f7e93;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 16px;
}
.task-detail .edit-submit .cancel {
  color: #66d9ef;
  background-color: #555555;
  border: 1px solid #494949;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
}
.prompt {
  display: none;
}
.prompt .mask {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.prompt .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 369px;
  height: 200px;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.prompt .popup h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #222222;
}
.prompt .popup label {
  display: block;
  width: 246px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  line-height: 1.42857143;
  margin: 10px 0;
}
.prompt .popup .select-class {
  bottom: 94px;
}
.prompt .popup .class-name {
  bottom: 52px;
}
.prompt .popup input,
.prompt .popup select {
  width: 150px;
  line-height: 1.42857143;
  margin-left: 16px;
  border: 1px solid #000;
}
.prompt .popup .buttons {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 184.5px;
  bottom: 10px;
}
.prompt .popup .sure {
  float: left;
  padding: 6px 16px;
  color: #ffffff;
  background-color: #1292aa;
  border: 1px solid #0f7e93;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}
.prompt .popup .cancel {
  float: right;
  padding: 6px 16px;
  color: #66d9ef;
  background-color: #555555;
  border: 1px solid #494949;
  border-radius: 4px;
  line-height: 1.42857143;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
}
@media screen and (max-width: 767px) {
  .container-header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 10px;
  }
  .container-header .caption {
    text-align: center;
    font-size: 20px;
  }
  .container-header .caption::before {
    margin-right: 5px;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: #555555;
    color: #66d9ef;
    line-height: 20px;
    text-align: center;
  }
  main {
    top: 40px;
  }
  .article,
  article {
    display: none;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-right: 0px;
    -webkit-transition: transform 400ms;
    transition: transform 400ms;
    z-index: 100;
  }
}
.currentview {
  display: block;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  /* 
	&.left {
		.translate(-100%, 0);
	}

	&.right {
		.translate(100%, 0);
	} */
}
.nextview {
  display: block;
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
  /* &.in {
		.translate(0, 0);
	} */
}
.preview {
  display: block;
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  /* &.in {
		.translate(0, 0);
	} */
}
.left {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.mid {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.right {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
